language: java
jdk:
  - openjdk11

branches:
  only:
  - master
  - develop

jobs:
  include:
    -
      stage: "Build & Test"
      name: "Run mvn clean verify"
      script: mvn clean verify
    -
      stage: "Delivery"
      name: "Build and push API Docker image"
      if: branch = develop
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker build -t sample-application-http-api-server ./sample-application
        - docker images
        - docker tag sample-application-http-api-server $DOCKER_USERNAME/sample-application-http-api-server
        - docker push $DOCKER_USERNAME/sample-application-http-api-server
    -
      name: "Build and push changelog job Docker image"
      if: branch = develop
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker build -t sample-application-db-changelog-job .
        - docker images
        - docker tag sample-application-db-changelog-job $DOCKER_USERNAME/sample-application-db-changelog-job
        - docker push $DOCKER_USERNAME/sample-application-db-changelog-job
  